body {
    background: url("../img/grey.png");
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
a {
    color: #644c4c;
}
a:hover {
    opacity: .7;
}
div.row {
    margin-bottom: 50px;
}
div.row div.large-12 {
    background: #644c4c;
    margin-top: 50px;
    padding: 20px 10px;
}
.menu-text {
    font-weight: 900;
    font-size: 2.5em;
    color: #f5e1d8;
    letter-spacing: .07em;
}
div.row div.medium-12 {
    background: hsla(44,7%,57%,.8);
    padding-bottom: 50px;
}
div.row div.medium-12 {
    padding-top: 50px;
}
.sectionhead {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 0;
    color: #644c4c;
}
.content {
    margin-top: 0;
    font-size: 1em;
    padding-bottom: 1em;
    max-width: 40em;
    color: #0D1710;
}
.link {
    padding-top: .313em;
}
.linkimage {
    width: 5%;
    height: auto;
}
li.link {
    list-style: none;
}
.link a {
    color: #644c4c;
}
body.resume ul:not(.menu) {
    padding-left: 30px;
}
img[src="img/me.jpg"] {
    height: 590px;
    border-radius: 5px;
}
.top-bar {
    padding-top: 0px;
}
.top-bar,
.top-bar ul {
    background: none;
}
.menu>li:not(.menu-text)>a {
    color: #f5e1d8;
}
.menu>li:not(.menu-text)>a:hover {
    color: black;
}
/* Resume */
div.medium-12.columns div.small-12.columns {
    background: rgba(100,76,76,.85);
    color: #f5e1d8;
    margin-top: 10px;
}
div.medium-12.columns div.small-12.columns:first-child {
    margin-top: 0px;
}
div.medium-12.columns div.small-12.columns p {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.15em;
}
div.small-6.columns p {
    font-size: 1em;
    max-width: 40em;
    color: #0D1710;
    margin-bottom: 0px;
}
div.small-6.columns p:nth-child(2) {
    font-style: italic;
}
div.small-6.columns:nth-child(3),
.rightthis {
    text-align: right;
}
div.medium-12.columns div.small-12.columns.desc {
    background: none;
}
div.medium-12.columns div.small-12.columns.desc ul li {
    font-size: .9em;
    color: #0D1710;
}
body.resume div.medium-12.columns{
    padding-bottom: 0px;;
}
body.resume div.medium-12.columns:last-child {
    padding-bottom: 50px;
    /*margin-bottom: 50px;*/
}
body.resume div.medium-12.columns:nth-child(3),
body.resume div.medium-12.columns:nth-child(4),
body.resume div.medium-12.columns:nth-child(5),
body.resume div.medium-12.columns:nth-child(6) {
    padding-top: 10px;
}
body.resume div.medium-12.columns:nth-child(2) {
    padding-bottom: 0px;
}
body.resume div.medium-12.columns div.small-12.columns.nobg {
    background: none;
    color: #0D1710;
    margin-top: 5px;
}
body.resume div.medium-12.columns div.small-12.columns.nobg p {
    margin-top: 0px;
}
body.resume div.medium-12.columns div.small-12.columns.nobg p:last-child {
    margin-bottom: 0px;
}
body.resume div.medium-12.columns div.small-12.columns.nobg p {
    font-size: 1em;
}
/* Portfolio */
div.medium-12.columns ul.thumbs li.content .close {
    color: #644c4c;
    font-size: 3em;
    padding-right: 10px;
}
div.medium-12.columns ul.thumbs li.content p {
    margin-bottom: 5px;
}
div.medium-12.columns ul.thumbs {
    list-style-type: none;
}
div.medium-12.columns ul.thumbs li a.thumbnail span.active-arrow {
    border-bottom: 25px solid hsla(44,7%,57%,.4);
}
div.medium-12.columns ul.thumbs li {
    padding-right: 5px;
    padding-bottom: 5px;
}
li.content p {
    padding-right: 10px;
}
body.home div.row div.large-12.columns ul.vertical.medium-horizontal.menu li a[href="index.html"],
body.portfolio div.row div.large-12.columns ul.vertical.medium-horizontal.menu li a[href="p4-portfolio.html"],
body.resume div.row div.large-12.columns ul.vertical.medium-horizontal.menu li a[href="p2-resume.html"] {
    background: rgba(0,0,0,.2);border-radius: 5px;
}
.menu>li:not(.menu-text)>a:hover {
    opacity: .7;
}
div.row div.large-12.columns ul.vertical.medium-horizontal.menu li a:last-child {
    margin-right: 10px;
}
/* Light/Dark buttons */
button.btn.float-button-light {
    height: 30px;
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    margin-top: 10px;
    border-radius: 5px;
}
#colored-button .btn.dark {
    color: yellow;
}
#colored-button .btn.light {
    color: black;
}
#colored-button button.dark,
#colored-button button.dark:hover {
    background: black;
}
#colored-button button.light,
#colored-button button.light:hover {
    background: yellow;
}
.waves-effect.waves-light .waves-ripple {
    background: rgba(192, 192, 192, 0.8);
}