body {
    background: url("../img/grey.png");
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
div.row div.large-12 {
    background: #644c4c;
    margin-top: 50px;
    padding: 20px 10px;
}
.menu-text {
    font-weight: 900;
    font-size: 2.5em;
    color: #f5e1d8;
}
div.row div.medium-12 {
    background: hsla(44,7%,57%,.8);
    padding-bottom: 50px;
}
img.float-right {

}
div.row div.medium-12 {
    padding-top: 50px;
}
.sectionhead {
    font-weight: 700;
    font-size: 25px;
    margin-left: 20px;
    margin-bottom: 0;
    color: #644c4c;
}
.content {
    margin-top: 0;
    font-size: 1em;
    padding-left: 1.5em;
    padding-bottom: 1em;
    max-width: 40em;
    color: hsla(60,11%,86%,1);
    font-family: 'Inconsolata';
}
.link {
    padding-top: .313em;
}
.linkimage {
    width: 5%;
    height: auto;
}
li {
    list-style: none;
}
.link a {
    color: #e0e0d8;;
}
ul {
    margin-left: 35px;
}
img[src="img/me.jpg"] {
    height: 590px;
    border-radius: 5px;
}
.top-bar {
    padding-top: 0px;
}
.top-bar,
.top-bar ul {
    background: none;
}
.menu>li:not(.menu-text)>a {
    color: #f5e1d8;
}
.menu>li:not(.menu-text)>a:hover {
    color: black;
}